[2020-05-15 07:18] 0u89yr7twghoijpdwfj2hru3gy opened #92 "Test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
1. Click on '....'
1. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS:

[2020-05-15 07:18] #92 closed, assigned to nobody

[2020-05-15 07:26] 0u89yr7twghoijpdwfj2hru3gy opened #93 "Test 2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
1. Click on '....'
1. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS:

[2020-05-15 07:26] #93 closed, assigned to nobody

[2020-05-15 07:31] 0u89yr7twghoijpdwfj2hru3gy opened #94 "[BUG] Unexpected 404 in CLI install script"
Last test.

[2020-05-15 07:31] #94 closed, assigned to nobody

[2020-10-06 16:23] louisbuchbinder opened #135 "[QUESTION] Will the v1 api continue to be supported?"
Hello, this is not an issue just a question.

It is clear that the legacy doppler cli's are EOL based on: https://doppler.com/changes/all-clients-are-end-of-life

I am curious if there are plans to EOL the v1 api as well? My fear is that since the "token" section of the website is listed under the "legacy" tab that this is the case.

My employer is currently using doppler as the source of truth fo

[2020-10-06 16:36] Piccirello commented on #135
Our v1 API is deprecated, and we do plan to EOL it at the end of the year. However, our APIs are certainly not going away. Our latest v3 API provides much of the same functionality ([docs](https://docs.doppler.com/reference#enclave-config-secret-list)). Additionally, while Legacy Tokens are not strictly recommended (CLI tokens and Service tokens are preferable), we currently do not have any plans

[2020-10-06 17:00] louisbuchbinder commented on #135
oh thank you. Syncing with PS is exactly what I am looking for

[2020-10-06 17:02] #135 closed, assigned to bvallelunga, Piccirello

[2020-10-28 03:24] ryan-blunden opened #152 "[FEATURE] Make doppler run play nicely with systemd"
**Is your feature request related to a problem? Please describe.**

See the [PHP on NGINX with Doppler and Systemd](https://gist.github.com/ryan-blunden/0d928bebab39f5ee6129b081386f86f0) guide for context.

When using doppler run to spawn the php-fpm process, it hangs and requires a SIGINT.

Upon getting the status of the Systemd php-fpm service, it outputs the following, where 12951 is the php-fp

[2020-10-29 15:59] lux commented on #152
Here's an Ansible role I came up with to try automating the php-fpm steps:

[doppler-php-fpm.zip](https://github.com/DopplerHQ/cli/files/5459642/doppler-php-fpm.zip)

Not directly related to the hanging issue, but hope that helps in testing.

[2020-11-02 05:05] ryan-blunden commented on #152
Thanks John (@lux). This will definitely come in handy.

[2020-12-16 15:16] andrespera opened #168 "[BUG] Unsupported architecture - Apple Silicon"
**Describe the bug**
I am trying to run the Doppler CLI install script in a docker container from PHP:7.4-fpm-alpine, but whenever I get to that steps it fails.

**To Reproduce**
Steps to reproduce the behavior:
1. FROM PHP:7.4-fpm
2. RUN (curl -Ls https://cli.doppler.com/install.sh || wget -qO- https://cli.doppler.com/install.sh) | sh
3. See ERROR: Unsupported architecture 'aarch64'

**Expected b

[2020-12-16 20:22] Piccirello commented on #168
Go does not yet support building for amd64 (Apple Silicon) on macOS, but we are tracking this internally. Support will be added for this in [Go 1.16](https://tip.golang.org/doc/go1.16#darwin), which should be released in February 2021. Once 1.16 is released, we will release a new build with support for Apple Silicon.

[2021-01-22 08:59] chrisjacobs91 opened #171 "[BUG] Unexpected 404 using CLI install script"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
1. Click on '....'
1. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS:

[2021-01-22 21:26] Piccirello commented on #171
Could you add some more information to this issue? OS and architecture would be helpful (`uname -a`), as well as output from running the script with the `--debug` flag.

[2021-03-01 18:21] aaronspindler commented on #168
Is there any update on this bug? I am encountering it today.

[2021-03-01 19:18] Piccirello commented on #168
Apple silicon support was added in [Doppler CLI v3.23.0](https://github.com/DopplerHQ/cli/releases/tag/3.23.0).

[2021-03-01 19:18] #168 closed, assigned to Piccirello

[2021-03-03 07:55] #171 closed, assigned to bvallelunga, Piccirello

[2021-03-13 23:01] wolterlw opened #189 "[BUG] Unsupported architecture"
Doppler cli is not available on mips architecture (exact device [Onion Omega2Pro](https://onion.io/store/omega2-pro/), operating system OpenWRT)

[2021-03-13 23:06] Piccirello commented on #189
That looks like a pretty cool device! Could you post the result of running `uname -sm` on it? This will give us a better sense of exactly what OS and architecture we would need to support.

[2021-03-13 23:32] wolterlw commented on #189
It is quite nifty
[code]
not too verbose though

[2021-03-14 12:25] shasderias opened #190 "ArchLinux AUR Package"
Was evaulating Doppler but it ended up being not quite what I was looking for.

Somehow ended up packaging the Doppler CLI as an ArchLinux AUR package along the way.

Leaving the PKGBUILD here in case it is helpful to someone else. Feel free to adopt it officially.

Only tested on x86_64.

Good luck with your product!

[code]

[2021-03-14 12:25] #190 closed, assigned to bvallelunga, Piccirello

[2021-03-14 20:45] Piccirello commented on #189
I've generated a test build for linux/mips. Could you extract it and run `./doppler --version` to verify this binary executes for you?

[doppler-mips.zip](https://github.com/DopplerHQ/cli/files/6137537/doppler-mips.zip)

[2021-03-14 23:42] elldritch opened #191 "[BUG] `dopper update` fails on Arch Linux"
Here's the result of `doppler update --debug`, running on Arch Linux:

[code]

My guess is that the problems arise from the following snippets in `install.sh`:

Package manager detection:
https://github.com/DopplerHQ/cli/blob/ef7601fded3157faa1e6736c667b231c9f6b0509/scripts/install.sh#L144-L150

RPM installation:
https://github.com/DopplerHQ/cli/blob/ef7601fded3157faa1e6736c667b231c9f6b0509/script

[2021-03-14 23:54] wolterlw commented on #189
[code]

[2021-03-15 17:59] Piccirello commented on #191
Doppler CLI installs and updates both currently require sudo due to their installing the CLI into your PATH. We have plans to support updating the CLI based on its current location, but currently we only support installing/updating the CLI that's installed globally on your machine.

Thanks for that tip about recommending `--debug` output, I'll add that to our bug template.

[2021-03-15 18:13] Piccirello commented on #189
Hmm, that's odd. That binary was compiled using `GOOS=linux GOARCH=mips make build`. Go 1.16 seems to support 4 different mips architectures for Linux:

[code]

I've included a build for each of the four supported architectures. Could you see if any of them work for you?

[doppler-mips64.zip](https://github.com/DopplerHQ/cli/files/6143563/doppler-mips64.zip)
[doppler-mips64le.zip](https://github.c

[2021-03-15 20:21] elldritch commented on #191
Sure. I'm suggesting that, when installing via package manager, the install script should ask for sudo (e.g. the install script could call `sudo rpm -i`) rather than expecting the _user_ to run `sudo doppler update`. `systemctl` does this when it needs authentication, and `wg-quick` does something similar.

(Perhaps alternatively, download the package and then print "run `rpm -i PACKAGE_FILE` to f

[2021-03-17 22:22] wolterlw commented on #189
I have tested all 4 versions and `doppler-mipsle` is the only one properly displaying the version.

[2021-03-18 04:27] Piccirello commented on #189
This is tricky given that the architecture the OS identifies as is different than the architecture it seems to want applications to be compiled for. I'm hesitant to add support to our install scripts for using the mipsle binary when the OS self-identifies as mips. I'm not sure that this edge-case will be sufficiently generic.

[2021-04-01 18:16] designamx opened #195 "[BUG]"
**Describe the bug**
I'm trying to build a docker image with doppler installed, I'm following the installation guide

**To Reproduce**
Steps to reproduce the behavior. Please include output from running the command with `--debug`.
[code]
**Expected behavior**
Get Doppler in my docker image.

This is the output
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**

[2021-04-01 18:19] Piccirello commented on #195
Can you re-run with the `--debug` flag during install, this should give us some more info. You can use:

[code]

[2021-04-01 18:41] designamx commented on #195
I''m not getting any output

[code]

I tried getting into a docker container but I just got nothing
[code]

[2021-04-01 18:54] designamx commented on #195
I started fresh with this [example](https://docs.doppler.com/docs/enclave-installation-docker#example)

I'm getting this errors:
[code]

I have added `RUN apk add --no-cache curl wget` but doppler still not getting installed

[2021-04-01 19:56] designamx commented on #195
Fixed, turns out my docker engine was not resolving correctly, just added this to my deamon configuration file
[code]

[2021-04-01 19:56] #195 closed, assigned to Piccirello

[2021-04-02 00:16] Piccirello commented on #195
Thanks for sharing that solution- this will be helpful for others that hit this issue.

[2021-04-02 00:42] ryan-blunden opened #196 "[FEATURE]: doppler import supporting loading a template via a URL"
The template value supplied to `doppler init` should also be able to accept a URL.

My reasoning is that we want to be able to help folks easily set up a Doppler project for open source applications, but it's highly unlikely in most cases that we'll get a `doppler.yaml` file merged into the source repo, official `Dockerfile` etc.

Being able to run something like `doppler import https://github.com

[2021-04-02 00:58] ryan-blunden opened #197 "[FEATURE]: Specify project template secret variables as empty, but required and prompt for optional value"
In order to use `doppler init` for setting up open source projects that require secret values upon initialization, e.g. Postgres, a handy workflow would be to prompt the user for the value for a secret if it's empty, but required, e.g. database password.

The user doesn't necessarily have to enter a value. They should be able to hit `Enter` and continue.

I think it would be awesome to make a flow

[2021-04-19 13:47] salaerts opened #202 "[BUG] Installing the Doppler CLI inside a docker image sometimes fails with a 500 error"
**Describe the bug**
We have a number of Docker images that install the Doppler CLI as part of the image. Since Friday April 16th the image builds have started failing occasionally with the message _"ERROR: Download failed with status 500"_. (To be clear, this is not consistent behavior, sometimes the images builds do succeed.)

**To Reproduce**
Steps to reproduce the behavior. Please include outp

[2021-04-19 19:39] Piccirello commented on #202
Thanks for reporting this. We're getting reports of this intermittent behavior but haven't been able to pinpoint the exact cause yet.

While we continue to diagnose this, could you try our apk repo? This method is just as fast as the install.sh script and should bypass the route that's returning intermittent 500s. You can find instructions [here](https://github.com/DopplerHQ/cli/blob/master/INSTAL

[2021-04-27 06:28] saikatharryc opened #206 "[FEATURE] Helm CRD operator for ease k8s installation"
Is there any CRD available already which we can use just like vault operator?

[2021-05-01 03:06] joshuachough opened #210 "Unable to install the latest Doppler CLI [BUG]"
**Describe the bug**
I can't update to the latest Doppler CLI.

**To Reproduce**
Steps to reproduce the behavior. Please include output from running the command with `--debug`.
1. In a console, type `doppler update`
2. After it prints `? Install Doppler CLI v3.24.3 (Y/n)`, type `y`
3. See error (under **Screenshots**)

**Expected behavior**
I expect it to update the Doppler CLI.

**Screenshots**
[

[2021-05-01 05:38] Piccirello commented on #210
Please re-run the command with the `--debug` flag and share the output here.

[code]

[2021-05-03 23:04] ryan-blunden commented on #206
HI @saikatharryc,

I'm working on an experimental CRD that I'll have ready for testing this week and I'll reply back once it's ready.

[2021-05-04 17:57] joshuachough commented on #210
When I ran the command with the `--debug` flag it output

[code]

I tried it again with `sudo doppler update` and it worked!

[2021-05-04 17:57] #210 closed, assigned to Piccirello

[2021-05-04 21:55] ryan-blunden opened #213 "Doppler 3.23.3 on Windows 10 AMD is incorrect build type"
When installing the 3.23.4 via Scoop on Windows, [the doppler.exe executable is unable to run](https://community.doppler.com/t/doppler-dont-work-on-windows/208)

I've been able to reproduce this on Windows 10 by using the Scoop commands in our docs.

As a test, I downloaded the AMD zip from the 3.23.3 release and replaced the `doppler.exe` in `C:\Users\rb\scoop\apps\doppler\current` folder which I

[2021-05-04 23:35] Piccirello commented on #213
Doppler CLI v3.24.4 has been published and this should now be resolved.

[2021-05-04 23:35] #213 closed, assigned to Piccirello

[2021-05-21 23:27] Piccirello commented on #202
This should be fixed as of 7c5057d581afecae2bc35ddb396ea070c1f66710.

[2021-05-21 23:27] #202 closed, assigned to Piccirello

[2021-05-25 00:26] ryan-blunden commented on #152
Closing as we now have a [solution for populating environment variables for PHP-FPM](https://github.com/DopplerHQ/php-examples/blob/main/Makefile#L24)

[2021-05-25 00:26] #152 closed, assigned to bvallelunga, Piccirello

[2021-05-25 02:16] ryan-blunden commented on #206
Hi @saikatharryc,

Sorry for the delay in responding but our (experimental) [Doppler CR controller](https://github.com/DopplerHQ/doppler-k8s-controller) is now ready for testing and I would love your feedback.

I have not yet added a Helm chart but have [created an issue](https://github.com/DopplerHQ/doppler-k8s-controller/issues/2) for this.

[2021-05-25 02:16] #206 closed, assigned to ryan-blunden

[2021-06-09 21:11] Piccirello commented on #189
Closing this issue as I'm not sure there's a clear path forward. Please re-comment if you'd like to continue troubleshooting this.

[2021-06-09 21:11] #189 closed, assigned to bvallelunga, Piccirello

[2021-06-22 10:16] mindflayer opened #231 "[BUG] Security vulnerabilities"
**Describe the bug**
I am switching to using a hardened Docker image for Ubuntu provided by Canonical to get rid of all the CVEs.
My image is now free of vulnerabilities apart from the two brought by `doppler` and detected by [trivy](https://github.com/aquasecurity/trivy).

**To Reproduce**
[code]

**Expected behavior**
No vulnerabilities shown.

[2021-06-22 19:25] Piccirello commented on #231
Thanks for reporting this. We're not using any of the affected functionality, but will put up a fix shortly.

[2021-06-22 19:41] #231 closed, assigned to Piccirello

[2021-06-22 20:16] Piccirello commented on #231
Doppler CLI v3.27.1 has been published with this fix.

[2021-06-22 20:56] mindflayer commented on #231
Many thanks!

[2021-07-28 15:57] stephenlacy opened #245 "[FEATURE] Support kubernetes secrets as a fallback"
I implemented a basic version of using kubernetes secrets as a fallback method here: https://github.com/stevelacy/doppler-cli/commit/56e6cd100cf3e188017d5b90ea212e9d3d55ec06

Usage in a docker container:
[code]

The main premise is on a kubernetes cluster the pods are auto-scaling, as such they can and will restart at any time. If for any reason doppler services are unavailable then 100% of the re

[2021-08-04 22:04] designamx opened #246 "[BUG] unknown shorthand flag: 'c' in -c"
**Describe the bug**
I'm using a Gitlab CICD to manage a project, I have created a job to get the env variables into a dotenv file to deploy a docker container, how ever it fails to get the secrets

**To Reproduce**
Steps to reproduce the behavior. Please include output from running the command with `--debug`.
This is what I have in my .gitlab-ci.yml
[code]

However I'm getting this error in the t

[2021-08-06 00:19] Piccirello opened #247 "Testing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior. Please include output from running the command with `--debug`.
1. Go to '...'
1. Click on '....'
1. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-08-06 00:19] #247 closed, assigned to nobody

[2021-08-18 22:07] smac89 opened #250 "[FEATURE] Protip: Add `secret-management ` to your list of tags on the repo"
This just means you guys appear in this list: https://github.com/topics/secret-management. Good for SEO

Also Github has discussions built in. Please enable it so that non-issues like this can be posted there instead of here

[2021-08-19 15:50] smac89 opened #251 "Improvement to centos installation"
This command:

[code]
Doesn't work with sudo. Change it to something like

[code]

[2021-08-19 17:18] Piccirello commented on #251
Great catch, thanks for reporting this!

[2021-08-19 17:26] Piccirello commented on #250
Thanks for the recommendation- I've added that tag to the repo.

I'll chat with the team about enabling this. We've traditionally relied on our [Community](https://community.doppler.com/) for these sorts of discussions (which uses Discourse).

[2021-08-19 17:26] #250 closed, assigned to nobody

[2021-08-19 18:05] #251 closed, assigned to nobody

[2021-09-24 21:56] lmartinez-mirror opened #259 "[FEATURE] Signed git tags or standalone signature for GitHub source tarballs"
**Is your feature request related to a problem? Please describe.**

Hi, I maintain your project on [Arch Linux's AUR](https://aur.archlinux.org/packages/doppler-cli/). Before I start, I'd like to say *thank you* for signing all of your artifacts with a GPG key. I don't see this as often as I should.

That being said, the only thing missing are signed tags or, at the very least, a source tarball si

[2021-10-06 18:06] Piccirello commented on #259
I love this idea! I'll see if we can get a signature of the source added to future releases.

[2021-10-11 02:54] #259 closed, assigned to nobody

[2021-10-12 02:47] Piccirello commented on #259
As of v3.33.2, we now include a copy of the source code and its signature as release artifacts.

[2021-10-23 00:21] smac89 opened #271 "[BUG] the info message printed with fallback should be sent to stderr, not stdout"
**Describe the bug**
I was trying to do
[code]
...expecting to just get the output of `some command here`, however the output `Reading secrets from fallback file` is also part of the value of `myvar`

**To Reproduce**

**Expected behavior**
Only after experiencing this error did I discover the `--silent` flag which works to eliminate this message. I think it's pretty standard for such messages to

[2021-11-15 16:57] Piccirello commented on #271
Thanks for reporting this. The CLI currently doesn't follow best practices around what to send to stdout vs stderr. I'll see if I can get a fix up for this this week.

[2021-11-16 21:45] clouedoc opened #285 "[FEATURE] Automatically source env on terminal open in VSCode"
**Is your feature request related to a problem? Please describe.**

I wouldn't say that I like typing "doppler run " each time I use my CLI.

**Describe the solution you'd like**

I would like to have a `doppler source` command to source environment variables to the local terminal.
I would also like to have a VSCode or ZSH integration that would do that for me.

**Describe alternatives you've cons

[2021-11-17 23:57] #271 closed, assigned to nobody

[2021-11-24 17:02] RemiKalbe opened #287 "[BUG] Env variables not populated if running as sudo."
**Describe the bug**
If I run a program as sudo, the env variables that should be populated by doppler, aren't.

**To Reproduce**
A simple javascript file
[code]
If I run
[code]
I get back
[code]

But if I run as root
[code]
I get
[code]

**Expected behavior**
To have my ENV var populated, whether or not I use sudo.

**Desktop (please complete the following information):**
 - OS: macOS
 - Version

[2021-11-24 17:05] RemiKalbe commented on #287
If I run it like so
[code]
It works, but I'll keep this issue open in case it should also works as I described.

[2021-11-29 15:26] Piccirello commented on #287
This is a feature of the `sudo` command. You must pass the `--preserve-env` flag (or `-E`) to retain these variables in your new shell.

https://man7.org/linux/man-pages/man8/sudo.8.html

[2021-11-29 15:26] #287 closed, assigned to nobody

[2021-12-14 02:24] ryan-blunden commented on #196
We now have an Open Source repository for project templates at https://github.com/DopplerUniversity/doppler-app-templates

[2022-01-10 23:24] larrypl opened #293 "[BUG] Unexpected 404 using CLI install script"
**Describe the bug**
Install script gets 404 - not found

**To Reproduce**
(curl -Ls --tlsv1.2 --proto "=https" --retry 3 https://cli.doppler.com/install.sh || wget -t 3 -qO- https://cli.doppler.com/install.sh) | sh

**Expected behavior**
Not sure - a doppler binary installation and ?

**Screenshots**
N/A

**Desktop (please complete the following information):**
Darwin <ELIDED> 20.6.0 Darwin Kerne

[2022-01-10 23:32] Piccirello commented on #293
Can you re-run with the `--debug` flag and post the output?

[2022-01-11 01:17] larrypl commented on #293
/tmp/s is a download of the script, necessary because --debug doesn't work on piping to shells.

[code]

[code]

It's pretty obvious the script is trying to download an RPM to a MacOS system, from the URL `https://cli.doppler.com/download?os=macos&arch=amd64&format=rpm&verify=1`

[2022-01-11 02:00] Piccirello commented on #293
Definitely haven't seen this issue before. It seems to be detecting the `rpm` binary on your machine. Could you post the output from running the following commands:
[code]

You need to add in the `-s` flag, i.e. `(curl ... || wget ...) | sh -s -- --debug`

[2022-01-11 18:34] #293 closed, assigned to nobody

[2022-01-25 21:43] designamx commented on #246
I want to share my findings in case people are using CI pipelines, the problem I was facing was with the entrypoint, so I overwrite it
[code]

[2022-01-25 21:43] #246 closed, assigned to ryan-blunden

[2022-03-11 18:17] mweber-ak opened #302 "Install on Windows with Bash"
None of our engineers use scoop or powershell. Every engineer I know uses git bash for windows

**Describe the solution you'd like**
Instructions for installing the CLI on Windows using bash.

**Describe alternatives you've considered**
A normal program installer like most tools on windows.

[2022-03-11 18:24] mweber-ak commented on #302
For context, we have 140 engineers, we'd like to use doppler, we can't if people cannot install the cli simply and easily.

[2022-03-11 18:25] mweber-ak commented on #302
I'm also getting reports from Mac users about difficulties, will ask them to make a separate issue.

[2022-04-11 15:00] pedrobonifacio commented on #191
How can we get around this today and install doppler on arch linux based distros?

[2022-05-06 00:07] matthewtole opened #307 "doppler run no longer overrides local environment variables"
**Describe the bug**

If you have an environment variable that matches a Doppler variable, using `doppler run` will choose the environment variable,
not the Doppler one, even if you don't use the `--preserve-env` flag.

This is a regression introduced in 3.39.0

**To Reproduce**

1. Set an environment variable locally that has the same name as one in Doppler.
2. Use `doppler run node` and then log

[2022-05-06 00:14] matthewtole commented on #307
I'm not a Go expert, but I believe this line is the problem:

https://github.com/DopplerHQ/cli/blob/master/pkg/cmd/run.go#L225

The original environment is being appended to the new environment, which will overwrite any matching values in the environment.

[2022-05-06 00:58] Piccirello commented on #307
Thanks for reporting this bug. We're currently investigating and will report back.

[2022-05-06 07:01] Piccirello commented on #307
I've confirmed this issue and put up a fix. This change should ship tomorrow, May 6th, in v3.19.1. I've also added some tests to ensure this doesn't break again in the future.

[2022-05-06 18:01] #307 closed, assigned to nobody

[2022-05-06 18:10] Piccirello commented on #307
v3.19.1 is now live with this fix. Apologies for the inconvenience.

[2022-05-23 04:39] tallpants opened #311 "Distribute CLI via winget for Windows"
winget is the first party package manager from Microsoft that's included by default in Windows 11 and newer versions of Windows 10: https://docs.microsoft.com/en-us/windows/package-manager/winget/

Instructions for distributing a package through winget are also fairly straightforward and low effort: https://docs.microsoft.com/en-us/windows/package-manager/package/

Doing this would remove the need

[2022-05-24 20:27] Piccirello commented on #311
This is a cool idea and something we're tracking internally, but no ETA to share as of yet. We're current blocked on the tooling we use ([goreleaser](https://github.com/goreleaser/goreleaser/issues/2290)) adding support for it.

[2022-06-01 15:13] Hawxy commented on #311
@Piccirello Would it be possible to publish to Chocolatey in the interim? A lot of devs have it installed already due to node.js.

[2022-06-05 07:54] Giangpro89 opened #313 "[DOCKER]"
**Base Image with Version**
[e.g. node:lts]

**Docker Hub Link**
[e.g. https://hub.docker.com/_/node]

[2022-06-06 22:13] Piccirello commented on #313
@Giangpro89 Could you add some more info to this issue?

[2022-06-07 19:17] Piccirello commented on #311
Unfortunately it appears that goreleaser doesn't yet support Chocolatey, for the same reasons that it isn't yet able to support winget. Once support is added, we'll likely only publish to winget.

[2022-06-25 07:52] Giangpro89 opened #315 "The changes work well for me :+1:"
The changes work well for me :+1:

I confirmed that all three preference values work well, with different nested structures. Git operations on the nodes also work well and are properly handled by all three preference values.

_Originally posted by @vince-fugnitto in https://github.com/eclipse-theia/theia/pull/11256#pullrequestreview-1006003295_

[2022-07-19 16:23] YarikRevich commented on #285
The only solution fixes your issue is to make command "dopler source" return "eval $(doppler secrets download --format env --no-file --fallback-only)" command, which you should then write anyone to the terminal on you own again... because there is no such opportunity to apply env vars to your terminal just calling "dopler env" once.

[2022-07-23 13:44] rawkode opened #319 "[FEATURE] Special Handling for KUBECONFIG"
**Is your feature request related to a problem? Please describe.**

`kubectl` can only be configured by setting `KUBECONFIG` to a file path and having the file contain the configuration.

**Describe the solution you'd like**

When `KUBECONFIG` exists within a config and we use `doppler run`, the contents should be mounted and KUBECONFIG env should point to the mounted location

**Describe alternat

[2022-07-24 02:03] Piccirello commented on #319
Just to make sure I understand, you'd want to mount the contents of an individual secret (in this case `KUBECONFIG`) to its own file. Is that right?

[2022-07-24 09:01] rawkode commented on #319
Yeah. In Doppler there’d be a secret called KUBECONFIG and when I do Doppler run, I’d want /magic/fs/kubeconfig to be a file with the KUBECONFIG contents and the environment variables KUBECONFIG to be set to the path of said file

[2022-07-25 18:13] icepuma opened #320 "[FEATURE] Dedicated command for the CLI to check if I'm already logged in"
**Is your feature request related to a problem? Please describe.**
Hey,
I want to create an integration with the `doppler` CLI. Therefore I want to check, if I'm already logged in.

**Describe the solution you'd like**
I thought of having a dedicated `doppler me` command, which prints all the information about my login status.

**Describe alternatives you've considered**
Is there already a mechani

[2022-07-25 18:14] icepuma commented on #320
If you are happy with my suggestion, I would love to contribute the code! In the case you have an alternative suggestion, I would love to hear about it!

Best regards
Stefan aka icepuma

[2022-07-25 19:44] nmanoogian commented on #320
Hey @icepuma, cool idea! We don't have an API endpoint yet for fetching the current user so this solution would be a little bit more involved.

Would you be able to use `doppler configure --json` to fetch your active token? If you aren't logged in, that command will return an empty object.

[2022-07-25 20:04] icepuma commented on #320
Yeah, the idea with `doppler configure --json` and getting the `token` would work! I think we can let this issue be open and implement the `doppler me` feature after you folks are done with the endpoint.

[2022-07-25 20:33] icepuma commented on #320
I tested it and it works like a charm! Waiting for the `doppler me` command though.

[2022-07-26 14:48] nmanoogian commented on #320
Great to hear! I'll share your idea with our product team, I think `doppler me` (and the corresponding API endpoint) could be useful in other contexts too

[2022-07-28 12:47] icepuma opened #322 "[FEATURE] doppler run --secret-names"
**Is your feature request related to a problem? Please describe.**
Let's say I have a project / config containing 10 secrets, but I want just 2 of them in my `doppler run` - call, the command will receive all 10 secrets. But sometimes I don't want to give the command all my secrets.

**Describe the solution you'd like**
The solution might be an additional switch / filter e.g. `--secret-names` wher

[2022-07-28 13:07] icepuma commented on #322
In the case you're cool with this filter feature, I'm keen to provide the feature via PR.

[2022-08-01 04:25] jgautsch opened #323 "[FEATURE] Allow baseConfigDir to be configurable"
**Is your feature request related to a problem? Please describe.**

I'm trying to run `doppler run` in a docker container with `USER nobody`. However this fails with message `Doppler Error: mkdir /nonexistent/.doppler: no such file or directory`. This is due to `baseConfigDir = utils.HomeDir()` in `config.go` calling out to `os.UserHomeDir()` which for `nobody` is `/nonexistent` (which is not writ

[2022-08-05 17:33] mattnieland opened #324 "[BUG] VS Code command window sluggish after terminate"
**Describe the bug**
When terminating a session in VS Code that's been called with doppler run, the terminal window is sluggish and unresponsive.  Have to close it and re-open a new terminal.  Is there a reason/fix for this?

**To Reproduce**
Steps to reproduce the behavior. Please include output from running the command with `--debug`.
[Windows User]
Open VS Code.
Launch your app with doppler run

[2022-08-11 23:27] ryan-blunden commented on #322
Hiey @icepuma and thanks for the feature request!

Are you able to expand upon why you only want to provide a subset of secrets?

We do have long-term plans for building in the reading of specific secrets into our API and then CLI but this isn't yet on our engineering roadmap.

For now, I'd recommend creating a branch config containing only the subset of secrets required.

[2022-08-11 23:51] ryan-blunden commented on #324
Hi @mattnieland!

Just to clarify, is the processing terminating immediately but there is a delay between when you can then type in the terminal? A screen recording if possible would be great.

So I can best determine what the issue is, could you provide some additional information:

* Windows version
* Integrated shell
* Language and framework are you using
* Is the Doppler CLI running a command

[2022-08-11 23:59] icepuma commented on #322
It is more for ad-hoc actions when running `doppler run` on my local machine, where I have a config containing 10 values, but only want to inject 2 of those values to a command.

Creating a branch config would mean I have to do something just for this one ad-hoc action and maybe to forget to delete it afterwards.

[2022-08-12 00:01] ryan-blunden commented on #323
Hi @jgautsch,

If the base config directory needs to be explicitly set, I'd recommend the equivalent of what you're needing by setting the `HOME` env var inline:

[code]

Would this be a sufficient workaround?

[2022-08-12 00:14] ryan-blunden commented on #320
@icepuma If you wanted a temporary workaround, you could add something similar to your `.bash_profile` or `.bashrc`:

[code]

Then just run `doppler-me`.

[2022-08-12 00:31] ryan-blunden commented on #319
Hi @rawkode,

Here is how you could achieve this today using a mounted secrets file.

Create the template to render the contents of the Kube config file:

[code]

Then run:

[code]

[2022-08-12 00:33] #315 closed, assigned to nobody

[2022-08-12 00:34] ryan-blunden commented on #313
@Giangpro89 Are you still experiencing this issue?

[2022-08-12 00:38] ryan-blunden commented on #311
Looks like progress is being made with winget now supporting the installation of stand-alone apps.

https://github.com/goreleaser/goreleaser/issues/1295#issuecomment-1153285862

[2022-08-12 00:48] ryan-blunden commented on #322
Is it that the inclusion of the 8 secrets breaks the command you need to run? Just wanting to understand the need for removing those secrets.

[2022-08-12 01:10] vince-fugnitto commented on #315
@ryan-blunden @Giangpro89 what is this?

[2022-08-12 04:32] ryan-blunden commented on #315
@vince-fugnitto I wasn't sure either which is why I've closed this issue.

[2022-08-12 05:42] icepuma commented on #320
I was hooking `doppler` - CLI into a another CLI via the `ProcessBuilder` from Rust. Therefore I wanted to have a clear interface via exit codes (`= 0 -> logged in`, `> 0 -> not logged in`). But the proposed workaround from @nmanoogian did work perfectly.

[2022-08-12 05:48] icepuma commented on #322
I wouldn't break the command, it is more that I don't need the 8 other secrets in this one particular run and therefore don't want the command let them know. It is more like a filter, where you have a more granular control over what leaves your doppler ecosystem and what doesn't.

Or maybe it would be better add a `--better-safe-than-sorry` switch where you show the user the set of secrets, that w

[2022-08-17 03:25] ryan-blunden commented on #322
I see where you're coming from.

You could use `doppler secrets --only-names` to show the list of secrets supplied to a command.

You could also use `doppler secrets get` instead of `doppler run` to provide a reduced list of secrets:

[code]

[2022-08-17 03:32] ryan-blunden commented on #313
Hi @Giangpro89. Closing this issue due to lack of activity but reach out if you're still running into difficulties.

[2022-08-17 03:32] #313 closed, assigned to nobody

[2022-08-17 03:38] ryan-blunden commented on #191
@elldritch: Are you happy for me to close out this ticket?

@pedrobonifacio: If your issue is related to installing the CLI on Arch Linux could you open a new ticket or ask for help in the [Doppler Community Forum](https://community.doppler.com/)

[2022-08-17 03:38] #196 closed, assigned to Piccirello

[2022-08-17 03:38] #197 closed, assigned to Piccirello

[2022-08-17 03:41] ryan-blunden commented on #285
@clouedoc Would creating a VS Code launch configuration that uses the Doppler CLI to run your application be another option?

Could you expand upon why you need the secrets exposed in your shell instead of to specific commands or scripts?

[2022-08-17 15:16] clouedoc commented on #285
@ryan-blunden creating a VS Code launch configuration wouldn't be enough since some commands require dynamic input, and it would be a burden to create Launch Configurations each time.

e.g. testing a subportion of the app

[2022-08-18 19:05] watsonian commented on #302
@mweber-ak We just merged in a change that should make it pretty easy to install the Doppler CLI in Git Bash. Take a look [here](https://github.com/DopplerHQ/cli/blob/master/INSTALL.md#git-bash). Let us know if you have any trouble with it!

[2022-08-18 19:05] #302 closed, assigned to nobody

[2022-08-22 09:43] remorses opened #326 "[FEATURE] Hide secrets from logs when running command with `doppler run --hide-secrets `"
**Is your feature request related to a problem? Please describe.**
When using doppler on Github Actions with a command like `doppler run -- printenv` your secrets will be leaked in the Github actions logs

Usually Github Actions replaces Github Actions secrets with `****` in the logs, but if you use doppler you won't have this feature

This is also useful if you are streaming on Twitch and want to

[2022-09-13 14:11] mariaWitch opened #331 "[BUG/FEATURE] Add support for OSTree based environments"
**Describe the bug**
Doppler CLI does not install due to it installing files into a path classified as a system directory in OSTree based OSes. See: https://github.com/coreos/rpm-ostree/issues/233
This is caused by installing persistent files into the /usr/local/ directory, which is classified as a system directory, and therefore not writable on OSTree based OSes.

**To Reproduce**
Steps to reprod

[2022-09-13 17:54] mariaWitch commented on #331
Doing some digging this can be easily resolved by changing the path for zsh for systems that use rpm so that they don't use the /usr/local/ directory in the package, I have created a pull request ( #332 ) that should resolve this issue. Note: I'm not entirely sure how this will affect users not on OSTree based OSes, but reading documentation suggests that it should not adversely affect anyone on a

[2022-09-13 21:18] #319 closed, assigned to nobody

[2022-09-13 21:19] Piccirello commented on #324
Closing due to lack of response.

[2022-09-13 21:19] #324 closed, assigned to nobody

[2022-09-13 21:20] #323 closed, assigned to nobody

[2022-09-22 21:54] xonicman opened #336 "[FEATURE] secrets download --show-notes"
**Is your feature request related to a problem? Please describe.**
I would like to download secrets in env format with [secret notes](https://www.doppler.com/changes/secret-notes-dashboard) as comments.

**Describe the solution you'd like**
Extra flag `--show-notes` or similar name with `--format env` would download secrets this way (example):
[code]

**Describe alternatives you've considered**
n/

[2022-09-28 17:21] mariaWitch commented on #331
@Piccirello Looking for follow up on this and the related PR.

[2022-10-12 18:49] #331 closed, assigned to nobody

[2022-11-07 23:46] #322 closed, assigned to nobody

[2022-11-12 10:53] Charlie50503 opened #348 "how could I use doppler in fly.io? nodejs"
I'm tring to use doppler to delpy with fiy.io
but deploy always got failed.

my dockerfile
[code]

log
[code]

does anyone know the cause of the problem ?